#navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgb(19, 18, 18);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #fff; /* Cor do texto */
  height: 60px;
  position: fixed;
}

.link-cadastre {
  background-color: #ffd700;
  border: solid;
}
.login-register {
  display: flex;
  align-items: center;
  gap: 40px;
}
.cabeçalho {
  display: flex;
  margin-top: 20px;
  gap: 15px;
}

div.img {
  gap: 15px;
}
.logoHome {
  position: relative;
  bottom: 15%;
}

#navBar .link {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
  font-family: "Roboto Serif", serif;
  font-weight: 500;
}
#navBar .link:hover {
  color: #ffd700;
}
.settings-button {
  background-color: transparent;
  color: #ffd700;
  border: none;
}
dropdown-link {
  background-color: transparent;
  color: #ffd700;
  border: none;
}

.confirmation-modal {
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  z-index: 1000;
  text-align: center;
}
.confirmation-modal > p {
  color: black;
}
.confirmation-modal > div > button {
  margin: 20px;
}
