<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de Usuários</title>
    <link rel="stylesheet" />
  </head>
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
    }

    th,
    td {
      padding: 12px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    tr:hover {
      background-color: #ddd;
    }

    th {
      background-color: #4caf50;
      color: white;
    }

    tr {
      transition: background-color 0.3s ease;
    }
  </style>
  <body>
    <h1>Lista de Usuários</h1>

    {% if users %}
    <table>
      <thead>
        <tr>
          <th class="column-id">ID</th>
          <th>Nome</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>Nenhum usuário encontrado.</p>
    {% endif %}
  </body>
</html>
