/* Centraliza o login-wrapper na tela */
.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Estilos para o formulário quadrado */
.container-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

input {
  background-color: transparent;
}

.container-login h2 {
  margin-bottom: 20px;
}
.container-login img {
  margin-bottom: 20px;
  height: 60px;
  width: 60px;
}
.container-login .input-password-email {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
}

.container-btn {
  display: flex;
  justify-content: space-around;
  border: none;
  background-color: none;
  margin-top: 30px;
}

.container-btn button {
  width: 150px;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  background-color: #ffd700;
  color: #0e0f0e;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0px 20px;
}
#forget-pass {
  background-color: #0e0f0e;
  color: #ffd700;
}
